*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

/* ===== Switch ===== */
.switch {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #00faac;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00faac;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ===== End Switch ===== */
/* ==== main ==== */
.main {
  background-color: #4955bd;
  display: flex;
  flex-direction: column;
  padding-left: 130px;
  padding-bottom: 20px;
  background-image: url("./Assests/banner.webp");
  background-repeat: no-repeat;
  background-position: right 150px bottom;
  background-size: 30%;
}
.main img:nth-child(1) {
  width: 200px;
  align-self: center;
}
button {
  font-size: 16.2px;
  font-weight: 700;
  line-height: 18px;
  word-wrap: break-word;
  padding: 15px 40px;
  background-color: #00faac;
  border: none;
  outline: none;
  border-radius: 8px;
  width: 250px;
  color: #1d2bb2;
}
button:hover {
  cursor: pointer;
}
.para {
  color: white;
  font-size: 17.9px;
  font-weight: 500;
  line-height: 30.6px;
  word-wrap: break-word;
}
.para span {
  color: #4efdb0;
}
h1 {
  width: 600px;
  color: white;
  font-size: 41.4px;
  font-weight: 800;
  line-height: 47.5px;
  word-wrap: break-word;
  margin-top: 40px;
  margin-bottom: 20px;
}
h1 span {
  color: #00faac;
}

.message {
  color: white;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  word-wrap: break-word;
  width: 500px;
}

.felicitaionsPara {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  word-wrap: break-word;
  color: white;
}
.main2 {
  padding-bottom: 150px;
}

#h1 {
  color: #00faac;
}

#logo {
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  padding: 7px 15px;
  position: relative;
  width: 140px;
  top: 0;
  left: -74px;
}
#pa {
  margin-top: 10px;
}
/* ==================================================================== */
a {
  text-decoration: none;
  color: #4efdb0;
}
form div {
  width: 615.5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input {
  outline: none;
  height: 50px;
  border: 1px solid grey;
  color: rgba(60, 72, 84, 0.8);
  font-size: 14.8px;
  font-weight: 500;
  line-height: 30.6px;
  padding-left: 9px;
  border-radius: 8px;
}
input[type="text"]:focus {
  border: 1px solid rgba(0, 255, 166, 0.682);
}
input[type="email"]:focus {
  border: 1px solid rgba(0, 255, 166, 0.682);
}
input[type="number"]:focus {
  border: 1px solid rgba(0, 255, 166, 0.682);
}

input:nth-child(1) {
  /* background-color: red; */
  grid-area: 1 / 1 / 2 / 2;
}
input:nth-child(2) {
  /* background-color: green; */
  grid-area: 1 / 2 / 2 / 3;
}
input:nth-child(3) {
  /* background-color: blue; */
  grid-area: 2 / 1 / 3 / 2;
}
input:nth-child(4) {
  /* background-color: yellow; */
  grid-area: 2 / 2 / 3 / 3;
}
input:nth-child(5) {
  /* background-color: orange; */
  grid-area: 3 / 1 / 4 / 2;
}
input:nth-child(6) {
  /* background-color: purple; */
  grid-area: 3 / 2 / 4 / 3;
}

/* ==================================================================== */
@media (max-width: 768px) {
  .main {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 1290px) {
  .main {
    background-position: right 50px bottom;
  }
}
@media (max-width: 1130px) {
  .main {
    background-position: right bottom;
  }
}

@media (max-width: 1012px) {
  .main {
    background-image: none;
  }
}
@media (max-width: 750px) {
  .main {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 638px) {
  .main {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  h1 {
    width: 100%;
    font-size: 24px;
    line-height: 30px;
  }
  .para {
    font-size: 12px;
  }
  .message {
    font-size: 10px;
  }
  input {
    height: 40px;
    font-size: 12px;
  }
  button {
    font-size: 14px;
    padding: 10px 30px;
    color: #1d2bb2;
    width: 100%;
  }
  .main img:nth-child(1) {
    width: 150px;
  }
  .message {
    line-height: 20px;
  }
}

@media (max-width: 528px) {
  .message {
    width: 100%;
  }
}
